html, body {
    min-height: 100vh;
}

body {
    background: url("../images/random_grey_variations.png");
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

#wordDisplay {
    font-family: 'Roboto Mono', monospace;
}

